@keyframes loading-spinner{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes loading-page{
    0% { visibility: visible;}
    1% {position: fixed;}
    99% {position: fixed;}
    100% { visibility: visible;}
}