@media screen and (max-width: 767px){
    .header
    {
        position: relative;
        &__link{
            position: absolute;
            left: 20px;
            top: 22px;
        }
    }
    .menu{
        &__heading{
            width: 100%;
            &__imagecontainer{
                position: relative;
                &__image{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
                &__titlecontainer{
                    display: flex;
                    position: absolute;
                    justify-content: space-between;
                    background-color: #f6f6f6;
                    border-radius: 1.5rem 1.5rem 0 0;
                    width: 100%;
                    bottom: -20px;
                    &__title{
                        font-family: 'Shrikhand', cursive;
                        margin-left: 15px;
                    }
                    &__heart{
                        align-self: center;
                    }
                }
            }
        }
        &__content{
            padding: 5px 0 50px 0;
            background-color: #f6f6f6;
            &__part{
                margin-top: 25px;
                padding: 0 15px;
                &__title{
                    font-size: 20px;
                    font-weight: 300;
                    margin: 0;
                }
                &__line{ 
                    border-bottom: 3px #99e2d0 solid;
                    width: 50px;
                    margin-bottom: 15px;
                }
                &__dishescontainer{
                    display: flex;
                    flex-direction: column;
                    &__dishes{
                        display: flex;
                        background-color: white;
                        border-radius: 1rem;
                        @include link-shadow;
                        height: 60px;
                        margin-bottom: 15px;
                        overflow: hidden;
                        &__info{
                            padding: 10px;
                            flex-grow: 1;
                            overflow: hidden;
                            &__name{
                                font-weight: 600;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            &__description{
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        &__price{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            padding: 10px;
                            &__nb{
                                font-weight: 600;
                            }
                        }
                        &__animation{
                            display: flex;
                            justify-content: space-around;
                            width: 0px;
                            height: 100%;
                            transition: width 0.8s;
                            &__check{
                                font-size: 22px;
                                color: white;
                                opacity: 0;
                                transition: opacity 0.8s ease;
                                align-self: center;
                              }
                        }
                    }
                }
            }
            &__linkcontainer{
                margin: 60px 0 40px 0;
                text-align: center;
                &__order{
                    background-image: linear-gradient($color_secondary, $color_primary);
                    color: white;
                    padding: 12px 30px;
                    border-radius: 1.4rem;
                    @include link-shadow;
                }
            }
        }
    }
    .menu__content__part__dishescontainer__dishes:hover .animation{
        background-color:$color_tertiary;
        width: 70px;
    }
    .menu__content__part__dishescontainer__dishes:hover .fa-check-circle{
        opacity: 1;
        animation: spin 0.5s;
      }
}